<div class="jumbotron">
	<div class="container">
        <h2>Welcome to eProduce</h2>
        <p>
        	eProduce is a convenient web tool to manage produce ordering
	        <ul>
	        	<li>View and update Items </li>
	       		<li>Write Orders</li>
	       		<li>View Orders</li>
	   		</ul>
		</p>
	
	</div>
</div>
