<!--
-	View orders page
-	show all available orders
-	Display specific order
-
-->

<div class="jumbotron">
	<div class="container">
        <h2>View Orders</h2>


		<select id="orderList"></select>
		<button id="viewOrder">View Order</button>
		<br /><br />

<div class="table-responsive">
        <table id="orderTable" class="pure-table">
			<thead>
				<tr>
					<th>Quantity</th>
					<th>PLU</th>
					<th>Name</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody id="tableBody">
				
			</tbody>
		</table>
</div>

	<div id="quantity"></div>
	<div id="total"></div>
	<div id="date"></div>
	</div>
</div>

<script type="text/javascript">


		//Display order
		//	Given an order number, display the order
		//		Clear the current table
		//		Display order in orderTable
		function displayOrder(orderNumber){
			$.ajax({
				url: "/order/" + orderNumber, 
				type: "GET",
				contentType: 'application/json',
				success: function(orderResult) {
						//Get item list
						//Needed to use name and price for order
						$.ajax({
							url: "/items", 
							type: "GET",
							contentType: 'application/json',
							success: function(itemResult) {
									//Make the table
									var table = document.getElementById('orderTable');
									var orderTotal = 0;
									
									//Clear the current table
									//First row is headers, don't remove
									if(table.rows.length > 1){
										while(table.rows.length > 1){
											table.deleteRow(1);
										}
								
									}

									// Add order the table
									// Display quantity, plu, name and price
									for(var i = 0 ; i < itemResult.length ; i++){

										if((typeof orderResult[itemResult[i].plu] !== 'undefined')&&
												(orderResult[itemResult[i].plu]["quantity"] > 0)){
											document.getElementById('tableBody').insertRow(-1).innerHTML='<tr><td>'+ orderResult[itemResult[i].plu].quantity +
					 																 '</td><td>' + itemResult[i].plu +
					 																 '</td><td>' + itemResult[i].name + 
					 																 '</td><td>' + orderResult[itemResult[i].plu]["price"] + '</td></tr>';
					 					orderTotal += 	orderResult[itemResult[i].plu]["quantity"] *  orderResult[itemResult[i].plu]["price"];

										}
									
									}

									document.getElementById("quantity").innerHTML = "Total Pieces - " + orderResult.quantity;
									document.getElementById("total").innerHTML = "Order Total - $" + orderTotal.toFixed(2);
									document.getElementById("date").innerHTML = "Date Ordered - " + orderResult.date;

									
							}
			
						});
						
					}
			});
		}
		
		//Initial load
		//	-set navbar
		//	-load order list
		$(document).ready(function(){
			//Change the active state of the navbar
			$("#viewOrderLink").attr('class', 'active');

			//Get orders for the dropdown box
			//Display order ID
			//Default order is the newest order
			$.ajax({
				url: "/order", 
				type: "GET",
				contentType: 'application/json',
				success: function(result) {
						//fill the select list
						for (var i = 0 ; i < result.length ; i++){
							//use ID for find orders, display order date
							document.getElementById('orderList').innerHTML += '<option value="' + result[i]._id + 
																				'">' + result[i].date + '</option>';
						}
						//Load the newest order into the table
						displayOrder(result[result.length - 1]._id);
					}
			});
		});

		//View order click function
		//	-using selected id from orderList, display order
		$("#viewOrder").click(function() {
			//Get specific order
			//use value from orderList dropdown box
			displayOrder(document.getElementById('orderList').value);
		});

</script>